button {
    width: 90px;
    height: 90px;
    font-size: 70px;
}
.cifra {
    background-color: rgb(153, 223, 198);
}
.zhnak, .ravno {
    background-color: rgb(219, 219, 143);
}
.delC {
    background-color: rgb(236, 160, 160);
}
input {
    width: 270px;
    height: 40px;
    font-size: 30px;
}
.kalkul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width :400px;
    height: 540px;
    background-color:rgb(234, 187, 227);
}
.vOkno {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.okna {
    display: flex;
    flex-direction: column;
}
